/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "datatables";

 html, body, #fullheight {
   min-height: 100vh !important;
   height: 100vh !important;
 }

.field_with_errors { display: inline }

.jumbotron-title {
  padding-top: 10px !important;
  padding-bottom: 15px !important;
  text-align: center;
}

a, u {
  text-decoration: none !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#header {
  background: #ededed;
  padding: 10px;
}
#content {
  padding-bottom: 100px;
}
#footer {
  bottom: 0;
  left: 0;
}