/*
*
* Welcome style
*
*/

html, body{
    color: #fff;
}

.lni{
    font-size: 64px;
}

.bg{
    background: linear-gradient(to right, #3c96ff 0%, #2dfbff 100%) !important;
}

.regform{
    box-shadow: 0px 8px 9px 0px rgba(69, 69, 69, 0.25);
    border-radius: 25px;
}

.sign{
    color: #000;
}

.custom-container-welcome {
    padding-top: 25px !important;
    padding-bottom: 15px !important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    color: black;
    border-radius: 25px;
}

.custom-card-welcome {
    border-radius: 25px;
}

.custom-form-welcome {
    padding-right: 10%;
    padding-left: 5%;
}