<%= form_for(@target, class: "justify-content-center") do |f| %>
    <%= render 'error_messages', object: @target %>

    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :ammount %>
        <%= f.number_field :ammount, class: 'form-control', step: :any %>
    </div>

    <div class="form-group">
        <%= f.label :currency %>
        <%= f.collection_select :currency, Target.currencies.to_a.map { |w| [w[0], w[0].humanize.upcase] }, :first, :second, {}, { :class => 'form-control', "data-style" => "btn-primary"} %>
    </div>
    
    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
    </div>

    <%= f.submit @button_text, class: "btn btn-primary" %>
<% end %>