<%= form_for(@tag, class: "justify-content-center") do |f| %>
    <%= render 'error_messages', object: @tag %>

    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <%= f.submit @button_text, class: "btn btn-primary" %>
<% end %>