<%= form_for(@report, class: "justify-content-center") do |f| %>
    <%= render 'error_messages', object: @report %>

    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :from_date %>
        <%= f.date_field :from_date, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :to_date %>
        <%= f.date_field :to_date, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :currency %>
        <%= f.collection_select :currency, Report.currencies.to_a.map { |w| [w[0], w[0].humanize.upcase] }, :first, :second, {}, { :class => 'form-control', "data-style" => "btn-primary"} %>
    </div>

    <div class="form-group">
        <label>Target</label>
        <%= f.select :target_id, Target.all.collect { |t| [t.title + ' (' + t.currency.to_s.humanize.upcase + ')', t.id] }, {},  {include_blank: true, class: "form-control" } %>
    </div>

    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
    </div>

    <%= f.submit @button_text, class: "btn btn-primary" %>
<% end %>