<div class="jumbotron jumbotron-title">
  <h2 class="display-4">Edit Report</h2>
</div>

</br>
</br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <%= render 'form' %>
        </div>
    </div>
</div>

</br>
</br>
