<div class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center"><%= t('home.features') %></h2>
        </div>
        <div class="row justify-content-centerfeatures">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-tablet-alt icon"></i> <i class="fa fa-mobile-alt icon"></i> <i class="fa fa-desktop icon"></i>
                    <h3 class="name"><%= t('home.works_on_everything') %></h3>
                    <p class="description"><%= t('home.works_on_everything_text') %></p></div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-clock icon"></i>
                    <h3 class="name"><%= t('home.always_available') %></h3>
                    <p class="description"><%= t('home.always_available_text') %></p></div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-globe icon"></i>
                    <h3 class="name"><%= t('home.international') %></h3>
                    <p class="description"><%= t('home.international_text') %></p></div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box"><i class="fa fa-list-alt icon"></i>
                    <h3 class="name"><%= t('home.customizable') %></h3>
                    <p class="description"><%= t('home.customizable_text') %></p></div>
            </div>
        </div>
    </div>
</div>