<div class="footer-dark" id="footer">
    <div class="container">
        <div id="footer">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                        </div>
                        <div class="col-md-6 item text">
                            <h3>
                                <%= t('home.subscribe_to_newsletter') %>
                            </h3>
                            <form class="form-inline" method="post">
                                <div class="form-group"><input class="form-control" type="email" name="email"
                                        placeholder="Your Email" /></div>
                                <div class="form-group"><button class="btn btn-primary" type="submit">
                                        <%= t('home.subscribe') %></button></div>
                            </form>
                        </div>
                    </div>
                    <p class="copyright">Put The Money To The Sock © 2019</p>
                </div>
            </footer>
        </div>
    </div>
</div>