<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>  

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><i class="fas fa-money-bill-alt navbar-icon gradient-icon"></i><i class="fa fa-arrow-right navbar-icon gradient-icon"></i><i class="fa fa-socks navbar-icon gradient-icon"></i></li>
        <li><p>&nbsp;&nbsp;</p></li>
        <li>&nbsp;&nbsp;<%= link_to "PutTheMoneyToTheSock", root_path, class: "navbar-brand" %></li>
      </ul>

      <% if user_signed_in? %>
        
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to("Expenses", expenses_path, class: "navbar-brand") %>
          </li>
          <li>
            <%= link_to("Reports", reports_path, class: "navbar-brand") %>
          </li>
          <li>
            <%= link_to("Targets", targets_path, class: "navbar-brand") %>
          </li>
          <li>
            <%= link_to("Tags", tags_path, class: "navbar-brand") %>
          </li>
          <li>
            <%= link_to('<i class="fas fa-sign-out-alt"></i> Sign Out'.html_safe, destroy_user_session_path, method: :delete, class: "navbar-brand navbar-right") %>        
          </li>
        </ul>

      <% else %>
      
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><%= t('home.log_in')%></b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <%= t('home.sign_in_with') %>
                    <div class="social-buttons">
                      <%= link_to omniauth_authorize_path(:user, :facebook), class: "btn btn-fb" do %>
                        <i class="fab fa-facebook"></i> Facebook
                      <% end %>
                      <%= link_to omniauth_authorize_path(:user, :twitter), class: "btn btn-fb" do %>
                        <i class="fab fa-twitter"></i> Twitter
                      <% end %>
                    </div>
                    <%= t('general.or') %>

                    <%= simple_form_for(:user, :url => session_path(:user), class: "form") do |f| %>
                      <%= f.error_notification %>

                      <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <%= f.input_field :email,
                                          required: false,
                                          autofocus: true,
                                          input_html: { autocomplete: "email" },
                                          class: "form-control field-with-errors",
                                          label: false %>
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="password"><%= t('home.password') %></label>
                        <%= f.input_field :password,
                                          required: false,
                                          input_html: { autocomplete: "current-password" },
                                          class: "form-control field-with-errors",
                                          label: false %>
                        <div class="help-block text-right">
                          <%= link_to t(".forgot_your_password"), new_password_path(:user) %><br />
                        </div>
                      </div>
                      <div class="form-group">
                        <%= f.button :submit, t("home.log_in"), class: "btn btn-primary btn-block" %>
                      </div>
                      <div class="checkbox">
                        <label>
                          <%= f.input_field :remember_me,
                                            label: false,
                                            as: :boolean %>
                          <%= t('home.remember_me') %>
                        </label>
                      </div>
                    <% end %>

                  </div>
                  <div class="bottom text-center">
                    <%= t('home.new_here') %>
                    <%= link_to t('home.join'), controller: "devise/registrations", action: "new" %>
                  </div>

                </div>
              </li>
            </ul>
          </li>
        </ul>

      <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>