<!DOCTYPE html>
<html>
  <head>
    <title>PutTheMoneyToTheSock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_include_tag "https://code.highcharts.com/highcharts.src.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', :media => "all", 'data-turbolinks-track': 'reload' %>
    
    <%= favicon_link_tag asset_path('favicon-96x96.png') %>
  </head>

  <body>
    <div class="body" id="wrapper">

      <div id="header">
      <%= render 'layouts/header' %>
      </div>


      <div id="content">
        <% flash.each do |name, msg| -%>
          <%= content_tag(:div,  class: "alert fade in alert-#{name}") do %>
            <%= msg %>
            <button class="close" data-dismiss="alert">×</button>
          <% end %>
        <% end -%>
        <%= yield %>
      </div>
      
      <%= render 'layouts/footer' %>

    </div>
  </body>
</html>
