<%= form_for(@expense, class: "justify-content-center") do |f| %>
    <%= render 'error_messages', object: @expense %>

    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :ammount %>
        <%= f.number_field :ammount, class: 'form-control', step: :any %>
    </div>

    <div class="form-group">
        <%= f.label :currency %>
        <%= f.collection_select :currency, Expense.currencies.to_a.map { |w| [w[0], w[0].humanize.upcase] }, :first, :second, {}, { :class => 'form-control', "data-style" => "btn-primary"} %>
    </div>

    <div class="form-group">
        <%= f.label :expense_date %>
        <%= f.date_field :expense_date, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
    </div>


    <div class="form-group">
        <labeL>Tags</label>
       
        <%= select_tag("tag_ids[]", 
                        options_for_select(Tag.all.collect { |tag| [tag.title, tag.id] },
                        @expense.tags.collect { |tag| tag.id}),
                        {:multiple => true, :size => 6, :class => "form-control"})%>
    </div>
    

    <%= f.submit @button_text, class: "btn btn-primary" %>
<% end %>
